# Exclude node_modules and package-lock.json
node_modules
package-lock.json

# Exclude generated videos
cypress/videos/*

# Exclude all report folder, except the report generator file
cypress/reports/*
!cypress/reports/cucumber-html-reports*.js